@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideInFromTop {
  animation: slideInFromTop 1s ease-out;
}

.slideInFromLeft {
  animation: slideInFromLeft 1s ease-out;
}

.slideInFromBottom {
  animation: slideInFromBottom 1s ease-out;
}

.container{
    max-width: 1400px;
}